.headermain {
    position: fixed;
    width: calc(100vw - 60px);
    z-index: 1;
    .ant-page-header {
        padding: 10px 0px 10px 10px;
        border: 2px solid #e9e8e8;
        .ant-page-header-heading-extra {
            margin: 4px 0px 0px 0px;
        }
    }
    .Breadcrumb {
        font-size: 11px;
        .home {
            font-size: 16px;
        }
    }
    .icon {
        font-size: 18px;
        cursor: pointer;
        margin: auto 12px;
    }
    .avatar_icon {
        margin-top: -6px;
        margin-right: 8px;
    }
}
@media (max-width: 426px) {
    .headermain {
        width: 100vw;
        .Breadcrumb {
            display: none;
        }
    }
}
