.sidebarmain {
    height: 100vh;
    aside {
        max-width: 60px !important;
        min-width: 60px !important;
        width: 60px !important;
    }
    .menu_notactive {
        width: 44px;
        margin: 14px auto;
        border-radius: 9px;
        border: none;
        background: rgb(101, 76, 254) !important;
        color: #f7f7f7;
    }
    .menuItem_notactive {
        background: rgb(101, 76, 254) !important;
        border-radius: 6px;
        color: #f7f7f7;
        box-shadow: none;
        // margin: 14px 8px;

        padding: 2px 12px;
        .ant-menu-item-icon {
            font-size: 20px;
        }
    }
    .menu {
        width: 44px;
        margin: 14px auto;
        border-radius: 9px;
        border: none;
        background: #313eda !important;
        color: #f7f7f7;
        .ant-menu-item-icon {
            font-size: 20px;
        }
    }
    .menuItem {
        background: #313eda !important;
        border-radius: 6px;
        color: #f7f7f7;
        margin: 0;
        padding: 2px 12px;
        box-shadow: none;
        // box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
    }
    .logodiv {
        margin: 20px 0px;
    }
    .avatar {
        display: flex;
        margin: auto;
    }
    .sidebar {
        height: 100vh;
        background-color: rgb(101, 76, 254);
        box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
    }
}
@media (min-width: 426px) {
    .sidebarmain {
        display: block;
    }
    .mobile_sidebar {
        display: none;
    }
}
@media (max-width: 426px) {
    .sidebarmain {
        display: none;
        width: 100%;
    }
    .mobile_sidebar {
        padding: 12px 30px;
        width: 100%;
        display: block;
        position: fixed;
        bottom: 0;
        z-index: 10;
        display: flex;
        background-color: rgb(101, 76, 254);
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
        border-top: 1px solid #fafafa6b;
        .menu {
            margin: auto;
        }
        .menuItem_notactive {
            background: rgb(101, 76, 254) !important;
            border-radius: 6px;
            box-shadow: none;
            padding: 10px 14px;
            text-overflow: clip;
            height: 40px;
            line-height: 40px;
            margin-left: 4px;
            margin-right: 4px;
            font-size: 18px;
            color: #f7f7f7;
        }
        .menuItem {
            background: #313eda !important;
            border-radius: 6px;
            box-shadow: none;
            padding: 10px 14px;
            text-overflow: clip;
            height: 40px;
            line-height: 40px;
            margin-left: 4px;
            margin-right: 4px;
            font-size: 18px;
            color: #f7f7f7;
        }
    }
}
